/*===========================================================
Global styles
============================================================*/
* {
	padding: 0;
	margin:0;
}

footer {
	height: 100px;
	background-color: #2c2c2c;
	color: #eee;
	padding: 20px;
}

.container {
	min-height: 83vh;
	padding: 0;
}

/*================================================
Header styles
=================================================*/
.cartBtn {
	height: 20px;
	width: 50px;
	position: relative;
}
.cartBtnLogo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


/*==================================================
Catalog Styles
====================================================*/
.productImg {
	margin: 5px;
	max-width: 100%;
}

.landingPage {
	
	background-color: #eee;
	height: 650px;
	margin-bottom: 50px;
	margin-top: 50px;
}
.landingImg {
	height: 100%;
	width: 100%;
}
.productPrice {
	position: relative;
	top: -30px;
	left: 5%;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
.productName {
	position: relative;
	top: -320px;
	left: 5%;
	font-size: 20px;
	opacity: 0;
	font-family: 'Roboto Slab', serif;
}

.product {
	height: 300px;
}
.product2 {
	height: 600px;
}