/*===========================================================
Global styles
============================================================*/
* {
	padding: 0;
	margin:0;
}

footer {
	height: 10vh;
	background-color: #2c2c2c;
	color: #eee;
	padding: 20px;

}

.container {
	min-height: 85vh;
	padding: 0;
}
.container_admin{
	min-height: 83vh;
	margin: 20px auto;
	padding: 10px;
	/*border: 0px solid black;
	box-shadow: 0 1px 5px 0px black*/
}
a {
	text-decoration: none;
	color: black;
}

#loginerrorReg {
	color: red;
}
#signUplink {
	color: #D62828;
}
#signUplink:hover {
	color: #F77F00;
}	
/*================================================
Header styles
=================================================*/
.head {
	height: 100px;
	width: 100%
	background-color: #eee;

}
.head {
	position: relative;
}
.cartBtnLogo{
	font-size: 20px;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
}
.cartIcon{
	height: 30px;
}

.brandLogo {
	font-size: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-family: 'Galada', cursive;
	color: #383838;
}
.brandLogo:hover{
	color: #003049;
	font-size: 45px;
}
.loginIcon{
	font-size: 20px;
	position: absolute;
	right: 100px;
	top: 50%;
	transform: translateY(-50%);
	color: #383838;
}
.shopIcon{
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
	color: #383838;
}
#loginError {
	font-size: 20px;
	position: absolute;
	right: 150px;
	top: 50%;
	transform: translateY(-50%);
	color: red;
	font-family: 'Montserrat', sans-serif;
}

.counterWrapper{
	width: 20px;
	height: 20px;
	background-color: #ff3333;
	border-radius: 100%;
	position: absolute;
	right: 20px;
	top: 30px;
	text-align: center;
	color: #2c2c2c;
	visibility: visible;
}

/*==================================================
Catalog Styles
====================================================*/
img[class*=productImg] {
	margin: 5px;
	width: 100%;
	height: 300px;
}

.landingPage {
	
	background-color: #eee;
	height: 650px;
	margin-bottom: 50px;
	margin-top: 50px;
}
.landingImg {
	min-height: 450px;
	max-height: 450px;
	width: 100%;
}
.productPrice {
	
	font-family: 'Montserrat', sans-serif;
}
.productName {
	position: relative;
	top: -200px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 20px;
	visibility: hidden;
	font-family: 'Roboto Slab', serif;
	color: white;
	text-transform: uppercase;
	text-align: center;
}

.product {
	height: 300px;
}
.productWrapper {
	height: 400px;
}
.productName2 {
	font-size: 20px;
}

.prodModalImg {
	height: 100%;
	width: 100%;
}
button[class*=btn1] {
	border-radius: 50px;
	background-color: #2c2c2c;
	color: white;
}

button[class*=btn3] {
	border-radius: 50px;
	background-color: indianred;
	color: white;
}

.backtotop {
	background-color: #1c1c1c;
	border-radius: 30px;
	border: none;
	width: 70px;
	height: 40px;
	color: #eee;
	position: absolute;
	z-index: 10000;
	bottom: 20px;
	right: 20px;
	position: fixed;
	box-shadow: 0 1px 5px 0px black
}
.backtotop:hover {
	background-color: #0c0c0c;
	color: #eee;
}
.fa-angle-up {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.categories {
	font-family: 'Hind Siliguri', sans-serif;
	text-align: center;
	position: relative;
}

.underline {
	border-bottom: 2px solid #2c2c2c;
}
	

/*=====================================
Admin Page
=====================================*/

.product_admin_image {
	max-width: 100%;
	display: block;
	max-height: 300px;
}
.product_admin {
	min-height: 340px;
	max-height: 400px;
	margin-bottom: 20px;
	border-bottom: 1px solid gray;
	box-shadow: 1px 1px 5px 0 gray;
	max-height: 350px;
}
.product_admin div[class*=row]{
	max-height: 320px;
	padding: 5px;

}
.product_admin div[class*=row] div[class*=col-5]{
	padding-top: 20px;
	position: relative;
	height: 100%;
}
.product_admin div[class*=row] div[class*=col-5] button[class*=btn2]{
	border-radius: 50px;
	background-color: indianred;
	color: white;

}
.product_admin div[class*=row] div[class*=col-5] button[class*=btn1]{
	border-radius: 50px;
	background-color: #2c2c2c;
	color: white;
}	
.editBtn{
	background-color: #e53935;
	border-radius: 100%;
	height: 60px;
	width: 60px;
	border: 1px solid #e53935;
	color: white;
	position:absolute;
	right: 20px;
	bottom: 50px;
	position: fixed;
	box-shadow: 2px 2px 3px 0 gray;
	z-index: 1000;
}
.editBtn:hover {
	background-color: #ef5350;
	transition: 0.5s;
}


/*==================================================
CART STYLES
===================================================*/

.cartItem {
	border: 1px solid white;
	box-shadow: 1px 2px 3px 0 gray;
}

.cartItemDelete {
	width: 30px;
}

.hiddenId {
	display: none;
}


button[class*= btn2] {
	border-radius: 50px;
	background-color: indianred;
	color: white;
}

#editProfileButton {
	visibility: hidden;
}


.cartQuantityInput{
	max-width: 40px;
}
.editCartButton {
	background-color: #ff3333;
	color: #eee;
	width: 80px;
	height: 30px;
	border-radius: 30px;
	border: none;
}
.removeItem {
	background-color: #2c2c2c;
	color: #eee;
	width: 50px;
	height: 30px;
	border-radius: 30px;
	border: none;
	margin-right: 30px;
}
td[class*='text-center']{
	width: 200px;
}













/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	

}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.productName2{
		display: none;
	}

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
.productPrice {
	position: relative;
	top: -30px;
	left: 5%;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
.productWrapper {
	height: 300px;
}
.brandLogo {
	font-size: 70px;
}
.brandLogo:hover{
	font-size: 75px;
	transition: 0.5s;
}
.shopIcon {
	font-size: 30px; 
}
.cartBtnLogo {
	font-size: 30px;
}
.cartIcon{
	height: 40px;
}
.loginIcon{
	font-size: 20px;
	position: absolute;
	right: 100px;
	top: 50%;
	transform: translateY(-50%);
	color: #383838;
}